.api{

  

    /* padding: 6px; */
    width: 21%;
    margin:10%;
    margin-left: 33%;
    border-radius: 15px;
    margin-top: 100px; 
    background-color: #D1EEE1;
 
    padding: 30px 40px;


}


.ap{
  margin-top: 10%;
  font-weight: 500;
}


.app{
  border-radius: 10px;
}