.Apitable{
  background-color: #D1EEE1;
    /* width: 80%; */
   
    border-radius: 57px;
    padding: 50px 70px;
}



.Action1{
  width: 30px;
  /* display: flex; */
 
}
.Action{
display: flex;
align-items: center;
justify-content: space-between;
}

  .apitable-container{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 500px;

  }
/* 
  .table1{
    border: 3px solid;
  } */